<!doctype html>
<html>
  <head>
    <title>d3p: Presentation Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <!-- D3P -->
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/bower-webfontloader/webfont.js"></script>
    <script src="bower_components/d3p/d3p.min.js"></script>

    <!-- Theme -->
    <script src="bower_components/d3p/themes/phd/phd.min.js"></script>
    <link rel="stylesheet" href="bower_components/d3p/themes/phd/phd.css">
  </head>
  <body>

    <!-- Slides -->
    <script src="slides.js"></script>

  </body>
</html>
