body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

svg.d3p text{
  text-anchor: middle;
  dominant-baseline: middle;
  baseline-shift: -7%;
}

svg.d3p text.h1{ font-size: 3em; }
svg.d3p text.h2{ font-size: 2em; }
svg.d3p text.h3{ font-size: 1.8em; }
svg.d3p text.h4{ font-size: 1.5em; }
svg.d3p text.h5{ font-size: 1em; }
